version: '3.7'

services:
  vott-dev:
    build: 
      context: ./
      dockerfile: Dockerfile-dev
      args:
        - BUILDTIME_CORTEXIA_VERSION=${CORTEXIA_VERSION}
    env_file:
      - ./.env
    environment:
      - STACK_NAME=vott
      - REACT_APP_INSTRUMENTATION_KEY=${REACT_APP_INSTRUMENTATION_KEY}
      - TRAEFIK_PUBLIC_NETWORK=${TRAEFIK_PUBLIC_NETWORK}
      - DOMAIN=local
      - SUBDOMAIN=vott
      - ENVIRONMENT=dev
      - NODE_ENV=development
      - DOCKER_TAG=latest
      - REACT_APP_API_URL=https://mocks.cortexia.io
    volumes:
      - ./src:/app/src
    ports:
      - "3000:3000"
